.cajaa{
	
	background-color: yellow; 
}
.cajab{
     background-color: red;
}
div{
	height: 100px;
	width: 200px;
	margin-bottom: 10px;
	padding: 10px;
	box-sizing: border-box;
	display: inline-block;
	margin-right: 15px;
}