*{
	margin-top: 6px;
}
.cajaa{
	background-color:yellow;
	}
.cajab{
	background-color: red;
	}
div{
	padding: 10px;
	height: 100px;
	width: 200px;
	margin-bottom: 10px;
	padding: 10px;
	box-sizing: border-box;
}