.rud{
    padding: 5px;
     float:left;
    background-color: red;
    margin: 15px;

    display:inline;
}
p {
	padding:5px;
    float: left; 
    display: inline;
    background-color: yellow;
    }